@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #c7f3f1;
    margin:0;
    padding:0;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100vh;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;

    user-select: none;
}

/* ----- Images ----- */

#bgImg {
    width:95vw;
    margin:0 0 4vh 0;
}

#speedoContainer{
    height:18vh;
    /* overflow: hidden; */
    margin:0 0 4vh 0;
}

#speedoImg {
    height:18vh;
    
}

#needle {
    background: #e35a38;
    width: 1%;
    height: 38%;
    position: relative;
    top:-103%;
    left: 49.9%;
    transform-origin: bottom center;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transform: rotate(-120deg);
}

#wpmNum{
    color: white;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;

    width:100%;

    position: relative;
    top: -22%;
    left: 0;
}

#carImg {
    position: absolute;
    left:5%;
    top:63%;

    width: 10vw;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
}

/* ----- Frosted Glass ----- */

#textCont{
    background: #c7f3f1;

    width: 70vw;
    height: 25vh;
    border-radius: 2vw;

    position: absolute;
    top:5%;
    left:15vw;

    overflow:hidden;
}

#fakeBg {
    margin:0;
    padding:0;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100vh;

    position: absolute;
    top:-5vh;
    left:-15vw;
}

#txtBlur {
    width:95vw;
    position:relative;
    left: 2.5vw;
    top:15vh;
    filter: blur(1vh);
}

#txtOverlay {
    background: #000;
    opacity: 0.65;
    border-radius: 2vw;

    position: absolute;
    top:0;
    left:0;

    width: 70vw;
    height: 25vh;
}

/*  ----- Text Output & Input ----- */

#txtIn {
    position: absolute;
    right: 0; 
    top: 0;

    width: 45vw;
    height: 6vh;

    font-size: 5vh;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color:white;
    overflow: hidden;
    border-right: solid black;
    padding: 0.5vh;
    white-space: nowrap;
}

#txtInBg {
    background: rgba(0,0,0,0.5);
    width: 39vw;
    height: 6vh;

    position: absolute;
    right: 42.5vw; 
    top: 32vh;
    padding: 0.5vh;
    overflow: hidden;
}

#txtCont{
    width: 90%;
    height:60%;
    border: solid white;
    border-radius: 1vw;

    position: relative;
    top:10%;
    left:3%;

    font-size: 12vh;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:white;
    padding: 2vh;
    overflow: hidden;
}

#txtOut{
    width:80vw;
    white-space: nowrap;
}

.grey {
    color:gray;
}

/*  ----- Stats Bar ----- */

#statsBar {
    background: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    width: 20vw;
    height: 4vh;

    position: fixed;
    left: 60vw; 
    top: 32vh;

    padding: 1.5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ----- Scoreboard ----- */

#overlay{
    display: none;
    background: rgba(255,255,255,0);
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

#cloudTL{
    width: 70%;
    transform: rotate(180deg);
    position: absolute;
    top:-80%;
    left:-10%;
}

#cloudTR{
    width: 60%;
    transform: rotate(180deg);
    position: absolute;
    top:-80%;
    right:-10%;
}

#cloudBL{
    width: 70%;
    position: absolute;
    bottom:-80%;
    left:-10%;
}

#cloudBR{
    width: 80%;
    position: absolute;
    bottom:-80%;
    right:-10%;
}

#helicopter {
    height:70vh;

    position: absolute;
    top: 10%;
    right: -100%;
}

#scoreCont {
    width: 25%;
    height: 35%;
    position: absolute;
    top: 30%;
    left: 131%;

    background: rgba(255,255,255,0.1);
    border-radius: 5%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score {
    color: white;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#scoreTime {
    font-size:3vw;
}

#scoreButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#scoreButtons img {
    width:10%;
    cursor: pointer;
}